@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Configurações Globais*/
body{
    font-family: "Montserrat",sans-serif;
    color: white;
    background: no-repeat fixed bottom;
    background-size: cover;
    margin: 0;
    font-weight: 900;
    
}
/*Organização da navbar*/

nav{          
    background-color: #05072F;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 15px;
    font-weight: 900;
    row-gap: 46.5px;height: 154px;
}
.logo{
    
    font-size: 30px;    
    margin-right: 100px;
    margin-top: 62px;
    
    
        
}
.TitleColor{
    color: #CF092D;
}
.navigation {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: row;
    
     
    
    
}
.navigation a{    
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.account{
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.helpLogin a{
    text-decoration: none;
    color: white;
}
.bar{
    color: #CF092D;
    font-weight: 600;
}
.CreateAccount{
    margin-left: 45px;
    color: #CF092D;
}
.CreateAccount a{
    text-decoration: none;
    color: #CF092D;
}

/*Organização do corpo principal do site*/
main{
       
    display: flex;
    background-color: #01041B;
    font-weight: 700;
    font-size: 25px;
}
.mainText{
    /* border: solid; */
    
    width: 50%;
}
.titulo{
    margin-left: 25px;
    font-size: 90px; 
    padding-right: 83px;
}
.text{
    font-size: 20px;
    /* border:solid white; */
    display: flex;
    margin: 0 10px 30px 25px;
    padding-right: 20px;
    
}
.buttons{
    /* border: solid yellow; */
    display: flex;
    column-gap: 30px;
    margin-left: 40px;
    
}
.button1{
    font-family: "Montserrat",sans-serif;
    color: white;
    font-weight: 300;
    height: 75px;
    width: 270px;
    border-radius: 45px;
    background-color: #CF092D;
    font-size: 25px;
}
.button2{
    font-family: "Montserrat",sans-serif;
    color: white;
    font-weight: 300;
    height: 75px;
    width: 270px;
    border-radius: 45px;
    background-color: #410093;
    font-size: 25px;
}
.AlbumCover{
    
    width: 50%
}
/*Organização do footer*/
footer{
    font-size: 30px;
    height: 100px;
    display: flex;
    background-color: #05072F;
    align-items: center;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: white;
}
    